    /*
    - Add padding left 10-20 px for each child element in a structure
    */
    akomaNtoso {
        display: block;
        margin: 1em;
    }

        /*
        Container elements
        */
    akomaNtoso act, meta, preamble, sections, atachments {
        display: block;
    }

        /*
        Block elements
        */

    akomaNtoso p {
        display: block;
    }

        /*
        Inline elements
        */

    akomaNtoso b, i, u, sup, sub, a, img, span, def, term, ref {
        display: inline;
    }
