<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2013 European Parliament

    Licensed under the EUPL, Version 1.1 or - as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance with the Licence.
    You may obtain a copy of the Licence at:

    http://joinup.ec.europa.eu/software/page/eupl

    Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and limitations under the Licence.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="terminal" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- No need for the date in the console -->
            <param name="ConversionPattern" value="%d{HH:mm} %-5p [%t] %30.30c - %m%n"/>
        </layout>
    </appender>

    <!-- Note: This root logger will be inherited by all loggers unless you use additivity="false". -->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="terminal"/>
    </root>

</log4j:configuration>