<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 3.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- GWT Log -->
                <prop key="**/gwt-log">gwtLogController</prop>
                <!-- GWT -->
                <prop key="**/gwtService">gwtService</prop>
                <prop key="**/gwtDocumentService">gwtDocumentService</prop>
                <prop key="**/gwtAmendmentService">gwtAmendmentService</prop>
            </props>
        </property>
    </bean>

    <bean id="gwtService" class="org.nsesa.editor.gwt.core.server.service.GWTServiceImpl"/>
    <bean id="gwtDocumentService" class="org.nsesa.editor.gwt.core.server.service.GWTDocumentServiceImpl">
        <property name="documents">
            <map>
                <entry key="1" value="classpath:COM_COM(2011)0032_EN.xml"/>
                <entry key="2" value="classpath:Act_Kenya_1980-01-01@1989-12-15.xml"/>
                <entry key="3" value="classpath:Act_Kenya_1989-12-06.xml"/>
                <entry key="4" value="classpath:AmendmentList_Bungeni_2010-10-28v1.xml"/>
                <entry key="5" value="classpath:Debate_Bungeni_2010-12-07.xml"/>
            </map>
        </property>
    </bean>
    <bean id="gwtAmendmentService" class="org.nsesa.editor.gwt.core.server.service.GWTAmendmentServiceImpl"/>

    <bean id="gwtLogController" class="org.springframework.web.servlet.mvc.ServletWrappingController">
        <property name="servletClass" value="com.allen_sauer.gwt.log.server.RemoteLoggerServlet"/>
        <property name="initParameters">
            <props>
                <prop key="symbolMaps_1">${gwt-log.symbolMaps.editor}</prop>
            </props>
        </property>
    </bean>

</beans>